@model SGI.Areas.PlugAndPlay.Models.Ocorrencia

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nova Ocorrência</h2>


<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Cadastrar Grupo</h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>
        <div class="content-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <!--<h4>Ocorrencia</h4>-->
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="row">
                        <div class="col-md-8 col-sm-9 col-xs-10">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TipoOcorrenciaId, "TipoOcorrenciaId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TipoOcorrenciaId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TipoOcorrenciaId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">Salvar</button>
                                <a href="@Url.Action("Index")" type="button" class="btn">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
</div>



