@model SGI.Areas.PlugAndPlay.Models.Roteiro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Roteiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maquina.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Padrao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Padrao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsideraGrupoMaquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsideraGrupoMaquina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PecasPorPulso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PecasPorPulso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
