@model SGI.Models.Dre
@{
    ViewData["Title"] = "Dre Gerencial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='col-xs-12'>
    <div class="page-title">

        <div class="pull-left">
            <h1 class="title">@ViewData["Title"]</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <i class="fa fa-tags"></i>Movimentos
                </li>
                <li class="active">
                    <strong>DRE</strong>
                </li>
            </ol>
        </div>

    </div>
</div>

<div class='col-xs-12'>
    <div class="page-title">

        @using (Html.BeginForm("Grafico", "Dre", FormMethod.Get))
        {
            <div class="pull-left">
                <div class="btn-group focus-btn-group">
                    @*@Html.DropDownList("pAno", null, "Selecione o ano...", new { @class = "select2", onchange = "this.form.submit();" })*@
                </div>
                <div class="btn-group focus-btn-group">

                </div>
                <div class="btn-group focus-btn-group">
                    @Html.DropDownList("pIdVisao", null, "Filtrar por visão...", new { @class = "select2", onchange = "this.form.submit();" })
                </div>
                <div class="btn-group focus-btn-group">
                    @*@Html.DropDownList("idDepartamento", null, "Filtrar por departamento...", new { @class = "select2", onchange = "this.form.submit();" })*@
                </div>
            </div>
            <div class="pull-right">
                <div class="btn-group focus-btn-group">
                    @Html.Hidden("pGrafico", (string)ViewBag.grafico)
                    <a href="@Url.Action("Grafico", new { pGrafico="M" })" title="Exibir em gráfico" rel="tooltip" data-placement="bottom"><i class="fal fa-chart-line icon-sm"></i></a>
                    <a href="@Url.Action("Grafico", new { pGrafico="G" })" title="Exibir em gráfico" rel="tooltip" data-placement="bottom"><i class="fa fa-bar-chart icon-sm"></i></a>
                    <a href="@Url.Action("Index", new { pGrafico = "L" })" title="Exibir em lista" rel="tooltip" data-placement="bottom"><i class="fa fa-list icon-sm"></i></a>
                </div>
            </div>
        }
    </div>

    <div class="content-body">
        <table class="table table-striped table-bordered" id="">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    @foreach (var unid in Model.Unidades)
                    {
                        <th>@unid.UNI_DESCRICAO</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DreView.GroupBy(x => new { x.PLA_CODIGO, x.PLA_DESCRICAO, x.PLA_ID, x.PLA_TIPO }).Select(x => new { PLA_CODIGO = x.Key.PLA_CODIGO, PLA_DESCRICAO = x.Key.PLA_DESCRICAO, PLA_ID = x.Key.PLA_ID, PLA_TIPO = x.Key.PLA_TIPO }))
                {
                    <tr class="odd gradeX">
                        <td>@item.PLA_CODIGO</td>
                        <td>@item.PLA_DESCRICAO</td>
                        @foreach (var unid in Model.Unidades)
                        {
                            <td>@Model.DreView.Where(x => x.PLA_ID == item.PLA_ID && x.MOV_UNID == unid.UNI_ID).Sum(x => x.Valor).ToString("c")</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Styles {
    <environment names="Development">
        <link href="~/Content/all.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/Content/all.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/Content/jquerydataTables.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/Content/dataTablestableTools.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/Content/dataTablesbootstrap.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
}


@section Scripts {
    <environment names="Development">
        <script src="~/Script/autosize.js" type="text/javascript"></script>
        <script src="~/Script/icheck.js" type="text/javascript"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/Script/autosize.js" type="text/javascript"></script>
        <script src="~/Script/icheck.js" type="text/javascript"></script>
        <script src="~/Script/jquerydataTables.js" type="text/javascript"></script>
        <script src="~/Script/dataTablestableTools.js" type="text/javascript"></script>
        <script src="~/Script/dataTablesresponsive.js" type="text/javascript"></script>
        <script src="~/Script/dataTablesbootstrap.js" type="text/javascript"></script>
    </environment>

    <script type="text/javascript">
            $("#mdre").removeClass("open");
            $("#mdre").addClass("open");
    </script>
}
