@using PagedList
@using PagedList.Mvc
@model SGI.Models.T_Departamentos
@{
    ViewData["Title"] = "Remover departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='col-xs-12'>
    <div class="page-title">

        <div class="pull-left">
            <h1 class="title">@ViewData["Title"]</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <i class="fa fa-tags"></i>Cadastros
                </li>
                <li>
                    <a href="@Url.Action("Index", "Departamento")">Grupo</a>
                </li>
                <li class="active">
                    <strong>Remover departamento</strong>
                </li>
            </ol>
        </div>

    </div>
</div>

<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Detalhes departamento</h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-8 col-sm-9 col-xs-10">
                    <div class="form-group">
                        <label class="form-label">Nome</label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.DEP_NOME, new { @class = "form-control", @readonly = true })
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="pull-right">
                            <button type="submit" class="btn btn-danger">Confirmar</button>
                            <a href="@Url.Action("Index")" type="button" class="btn">Cancelar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>


@section Styles {
    <environment names="Development">
        <link href="~/Content/all.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/Content/all.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
}




@section Scripts {

    <environment names="Development">
        <script src="~/Script/autosize.js" type="text/javascript"></script>
        <script src="~/Script/icheck.js" type="text/javascript"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/Script/autosize.js" type="text/javascript"></script>
        <script src="~/Script/icheck.js" type="text/javascript"></script>
    </environment>

    <script type="text/javascript">
        $("#mcadastros").removeClass("open");
        $("#mcadastros").addClass("open");
    </script>
}
