@model SGI.Models.T_Metas
@{
    ViewBag.Title = "Remover meta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='col-xs-12'>
    <div class="page-title">

        <div class="pull-left">
            <h1 class="title">@ViewData["Title"]</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <i class="fa fa-tags"></i>Movimentos
                </li>
                <li>
                    <a href="@Url.Action("Index","Metas")">Metas</a>
                </li>
                <li class="active">
                    <strong>Remover Meta</strong>
                </li>
            </ol>
        </div>

    </div>
</div>

<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Remover meta</h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>
        <div class="content-body">
            @using (Html.BeginForm("Delete", "Metas", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.MET_ID)
                @Html.HiddenFor(x => x.IND_ID)
                <div class="row">
                    <div class="col-md-8 col-sm-9 col-xs-10">
                        <div class="form-group">
                            <label class="form-label">Indicador</label>
                            <div class="controls">
                                @Html.TextBox("indNome", Model.T_Indicadores.IND_DESCRICAO, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Dt.Início</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.MET_DTINICIO, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Dt.Fim</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.MET_DTFIM, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Tipo Alvo</label>
                            <div class="controls">
                                @Html.DropDownList("MET_TIPOALVO", new[] {
                                           new SelectListItem() {Text = "Valor", Value = "1"},
                                           new SelectListItem() {Text = "Data", Value = "2"},
                                           new SelectListItem() {Text = "Percentual", Value = "3"},
                                           new SelectListItem() {Text = "Dia Util", Value = "4"}
                                       }, "Selecione...",
              new { @id = "MET_TIPOALVO", @class = "select2", @disabled = "" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Alvo</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.MET_ALVO, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Schedule</label>
                            <div class="controls">
                                @Html.DropDownList("MET_SCHEDULESCRIPT", new[] {
                                           new SelectListItem() {Text = "Valor", Value = "1"},
                                           new SelectListItem() {Text = "Data", Value = "2"},
                                           new SelectListItem() {Text = "Percentual", Value = "3"},
                                           new SelectListItem() {Text = "Dia Util", Value = "4"}
                                       }, "Selecione...",
                                new { @id = "MET_SCHEDULESCRIPT", @class = "select2",@disabled = ""})
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                            <a href="@Url.Action("Index")" type="button" class="btn">Cancelar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>


@section Styles {
    <environment names="Development">
        <link href="~/Content/select2.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/Content/all.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/Content/all.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
}


@section Scripts {

    <environment names="Development">
        <script src="~/Script/select2.js" type="text/javascript"></script>
        <script src="~/Script/autosize.js" type="text/javascript"></script>
        <script src="~/Script/icheck.js" type="text/javascript"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/Script/autosize.js" type="text/javascript"></script>
        <script src="~/Script/icheck.js" type="text/javascript"></script>
    </environment>

    <script type="text/javascript">
        if ($.isFunction($.fn.select2)) {
            $('.select2').select2();
        }
        $("#mcadastros").removeClass("open");
        $("#mcadastros").addClass("open");
    </script>
}
