@using PagedList
@using PagedList.Mvc
@model IPagedList<SGI.Models.T_Medicoes>
@{
    ViewData["Title"] = "Medições registradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='col-xs-12'>
    <div class="page-title">

        <div class="pull-left">
            <h1 class="title">@ViewData["Title"]</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <i class="fa fa-tags"></i>Movimentos
                </li>
                <li>
                    <a href="@Url.Action("Index","Metas")">Metas</a>
                </li>
                <li class="active">
                    <strong>Medições registradas</strong>
                </li>
            </ol>
        </div>

    </div>
</div>

<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Lista de medições registradas</h2>
            <div class="actions panel_actions pull-right">
            </div>
        </header>
        <div class="content-body">
            <div class="btn-toolbar">
                @using (Html.BeginForm("Medicao", "Metas", FormMethod.Get))
                {
                    <div class="btn-group focus-btn-group">
                        <a href="@Url.Action("AddMedicao", new { id_meta = Html.Value("id")})" rel="tooltip" title="Incluir" class="btn btn-success">
                            <span class="fa fa-plus"></span> Incliur Medição
                        </a>
                    </div>
                    <div class="btn-group dropdown-btn-group pull-right">
                        <label>Pesquisar:<input type="search" id="searchString" name="searchString" value="@Html.Value("searchString")" class="form-control input-sm" placeholder="Digite a pesquisa" aria-controls="example-4"></label>
                        <label>
                            @Html.DropDownList("nPageSize", (IEnumerable<SelectListItem>)ViewBag.ItensPageSize,
                       new { @id = "nPageSize", onchange = "this.form.submit();", @class = "form-control input-sm" })
                        </label>
                    </div>
                }
            </div>

            <div class="table-responsive">
                <table class="table table-striped dt-responsive display">
                    <thead>
                        <tr>
                            <th>Indicador</th>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Meta</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.T_Metas.T_Indicadores.IND_DESCRICAO</td>
                                <td>@item.T_DATAMEDICAO</td>
                                <td>@item.T_VALORMEDIDO</td>
                                <td>@item.T_Metas.MET_ALVO</td>
                                <td>
                                    <a href="@Url.Action("EdtMedicao", new { id = item.MED_ID })" class="btn btn-warning" title="Editar medição" rel="tooltip"><span class="fa fa-edit"></span></a>
                                    <a href="@Url.Action("DelMedicao", new { id = item.MED_ID })" class="btn btn-danger" title="Remover medição" rel="tooltip"><span class="fa fa-eraser"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="dataTables_info" id="datatable1_info" role="status" aria-live="polite">Exibindo @Model.PageNumber de @Model.PageCount de @Model.TotalItemCount registros</div>
            <div class="dataTables_paginate paging_simple_numbers" id="datatable1_paginate">
                @Html.PagedListPager((IPagedList)Model,
                         page => Url.Action("Medicao",
                new { page = page, nPageSize = ViewBag.CurrentItemsPerPage, searchString = ViewBag.CurrentSearch }),
                new PagedListRenderOptions
                {
                    LinkToFirstPageFormat = "<< Primera",
                    LinkToPreviousPageFormat = "< Anterior",
                    LinkToNextPageFormat = "Proxima >",
                    LinkToLastPageFormat = "Ultima >>"
                })
            </div>
        </div>
    </section>
</div>


@section Styles {
    <environment names="Development">
        <link href="~/Content/all.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/Content/all.css" rel="stylesheet" type="text/css" media="screen" />
    </environment>
}


@section Scripts {
    <environment names="Development">
        <script src="~/Script/autosize.js" type="text/javascript"></script>
        <script src="~/Script/icheck.js" type="text/javascript"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/Script/autosize.js" type="text/javascript"></script>
        <script src="~/Script/icheck.js" type="text/javascript"></script>
    </environment>

    <script type="text/javascript">
        $("#mcadastros").removeClass("open");
        $("#mcadastros").addClass("open");
    </script>
}
