@model SGI.Areas.PlugAndPlay.Models.Maquina
@using SGI.Areas.PlugAndPlay.Models
@{
    ViewBag.Title = "Máquina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">@ViewData["Title"]</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <i class="fa fa-tags"></i>Cadastros
                </li>
                <li>
                    <a href="@Url.Action("Index","Maquinas")">Máquinas</a>
                </li>
                <li class="active">
                    <strong>Máquina</strong>
                </li>
            </ol>
        </div>

    </div>
</div>
<div class="col-xs-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Editar</h2>
            <div class="actions panel_actions pull-right"> </div>
        </header>
        <div class="content-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-8 col-sm-9 col-xs-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "form-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "form-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">CLP IP</label>
                            @Html.TextBoxFor(model => model.ControlIp, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="form-label">Calendario</label>
                            @Html.DropDownListFor(model=> model.CalendarioId, null, "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="form-label">Grupo</label>
                            @Html.TextBoxFor(model => model.GrupoMaquinaId, new { @class = "form-control" })
                            @*@Html.DropDownList("GrupoMaquinaId", null, "", new { @class = "form-control" });*@
                        </div>

                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default">Cancelar</a>
                            <input type="submit" value="Salvar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>
